@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Debugging */
#scrollView {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    background-color: #333;
    color: white;
    text-align: center;
}


/* Global Styles */
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    /* Simple solution for smooth scrolling, possibly upgrade to JS */
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

html {
    background-image: linear-gradient(0deg, rgba(0, 231, 255, 0.4), rgba(0, 231, 255, 0.4)), url("../images/bg.png");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    margin: 3%;
}

.noSelect {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* #scrollToTop {
    position: fixed;
    bottom: 70px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    cursor: pointer;
} */


/* Header Styles */
header {
    height: calc(100vh - 3%);
    background-image: linear-gradient(145deg, rgba(51,51,51,0.7) 0%, rgba(51,51,51,0.7) 50%,
     rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 50%), url("../images/header-bg.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

nav {
    width: 100%;
    color: #FFF;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ab4343; */
}


/* Navigation Left Container */
/* #left-contain {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
} */

#nav-icon {
    width: 2.3rem;
    z-index: 10;
    position: relative;
    top: 15px;
    left: 20px;
}

#img-link {
    cursor: pointer;
}

#text-logo {
    /* display: inline; */
    position: relative;
    top: -1.5rem;
    left: 1.3rem;
    transition: left 1s, opacity 0.5s;
    transition-timing-function: ease;
    font-size: 1.5rem;
    opacity: 0;
}

/* Animation */
#img-link:hover ~ #text-logo {
    left: 70px;
    opacity: 1;
}

/* Navigation Right Container */
#right-contain {
    margin-top: 10px;
    margin-right: 20px;   
}

.nav-link {
    color: #FFF;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: color 1s;
    font-size: 1.2rem;
    font-weight: 900;
}

.nav-link > span {
    padding: 15px;
    display: inline-block;
}

.nav-link:hover {
    text-decoration: none;
    color: #00E7FF;
}

/* Link Corner Borders */
.nav-link::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 1px solid #00E7FF;
    border-bottom: 1px solid #00E7FF;
    transition-property: opacity, left, bottom;
    transition-duration: 0.5s;
    opacity: 0;
}

.nav-link::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 1px solid #00E7FF;
    border-bottom: 1px solid #00E7FF;
    transition-property: opacity, right, bottom;
    transition-duration: 0.5s;
    opacity: 0;
}

.nav-link > span::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid #00E7FF;
    border-top: 1px solid #00E7FF;
    transition-property: opacity, left, top;
    transition-duration: 0.5s;
    opacity: 0;
}

.nav-link > span::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 1px solid #00E7FF;
    border-top: 1px solid #00E7FF;
    transition-property: opacity, right, top;
    transition-duration: 0.5s;
    opacity: 0;
}

/* Show Link Corner Borders */
.nav-link:hover::before {
    opacity: 1;
    left: 2px;
    bottom: 2px;
}

.nav-link:hover::after {
    opacity: 1;
    right: 2px;
    bottom: 2px;
}

.nav-link > span:hover::before {
    opacity: 1;
    left: 2px;
    top: 2px;
}

.nav-link > span:hover::after {
    opacity: 1;
    right: 2px;
    top: 2px;
}

/* Header Image/Info */
#header-info {
    margin-left: 10vw;
    margin-top: 120px;
    padding-right: 50px;
    /* background-color: #ab4343; */
    display: flex;
}

#header-info > img{
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media only screen and (max-width: 900px) {
    #right-contain {
        position: absolute;
        top: 5.5rem;
        left: 3rem;
        background-color: #EEE;
        display: flex;
        flex-direction: column;
        padding: 20px 25px;
        border-radius: 5px;
        box-shadow: 3px 3px 6px 1px #333;
        overflow: hidden;
        z-index: 10;
    }

    #right-contain > a {
        margin: 5px 0;
        text-decoration: none;
        color: #333;
        margin-left: 0;
    }

    #img-link:hover ~ #text-logo {
        left: 1.3rem;
        opacity: 0;
    }

    .invisible {
        opacity: 0;
    }
    
    .visible {
        transition: opacity 0.5s;
        opacity: 1
    }
}

/* Section Styles */
.main-sections {
    width: 100%;
    min-height: 200px;
    padding: 40px 0;
    background-color: #333;
    /* border-bottom: 2px solid #00E7FF; */
}


/* About Section */
#about {
    color: #EEE;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

#about-title {
    font-size: 3em;
    margin-left: 15%;
    margin-bottom: 30px;
    position: relative;
    transition: top 1s, opacity 1s;
    top: 50px;
    opacity: 0;
    color: red;
}

#about-info {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8rem;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    transition: top 1s, opacity 1s;
    top: 50px;
    opacity: 0;
}

#design, #build, #inspire {
    position: relative;
}

.designBorder::before {
    animation-iteration-count: 1; 
    animation-play-state: paused;
    animation: designUnderline 2s;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 1px;
    height: 10px;
    border-bottom: 2px solid #00E7FF;
}

@keyframes designUnderline {
    0% {
        width: 0;
    }
    100% {
        width: 56.5px;
    }
}

.buildBorder::before {
    animation-iteration-count: 1; 
    animation-play-state: paused;
    animation: buildUnderline 2s;
    content: '';
    position: absolute;
    bottom: -2px;
    height: 10px;
    border-bottom: 2px solid #00E7FF;
}

@keyframes buildUnderline {
    0% {
        width: 0;
    }
    100% {
        width: 42px;
    }
}

.inspireBorder::before {
    animation-iteration-count: 1; 
    animation-play-state: paused;
    animation: inspireUnderline 2s;
    content: '';
    position: absolute;
    bottom: -2px;
    height: 10px;
    border-bottom: 2px solid #00E7FF;
}

@keyframes inspireUnderline {
    0% {
        width: 0;
    }
    100% {
        width: 54.3px;
    }
}


/* Team Section */
#team {
    background-color: #EEE;
}

#team-title {
    margin-left: 15%;
    transition-property: opacity;
    transition-duration: 5s;
    opacity: 0;
    font-size: 3em;
    color: #0D0D0D;
}

/* Card Styles */
.card {
    width: 250px;
    height: 350px;
    background-color: #000;
    border-radius: 22px;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
    margin: 0 20px;
} 

.image {
    background-image: url("../images/team/placeholder.png");
    background-color: #777;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center;
  }

#card-1 > .image {
    background-image: url("../images/team/kenny.jpg");
}

#card-2 > .image {
    background-image: url("../images/team/nikki.jpg");
}

#card-3 > .image {
    background-image: url("../images/team/billy.jpg");
}

#card-4 > .image {
    background-image: url("../images/team/jee.jpg");
}

#card-5 > .image {
    background-image: url("../images/team/martin.jpg");
}

/* .card:hover {
    transition-property: all;
    transition-duration: 0.5s;
    Find a way to fix box-shadow
    box-shadow: 5px 5px 10px #888888;
    transform: perspective(1000px) translateZ(-20px);
} */
  
.card > section {
    background-color: #999;
    color: #FFF;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.card-info > h3 {
    background-color: #333;
    color: #00E7FF;
    display: inline;
    padding: 5px 10px;
    position: absolute;
    top: -27px;
    left: -20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-info > p {
    padding: 10px 10px 0 10px;
    margin: 0;
}

/* Card Animation */
@keyframes shadowBounce {
    0% {
        transform: scale(1);
    } 
    25% {
        transform: scale(1.1);
        box-shadow: 5px 5px 30px #888888;
    }
    50% {
        transform: scale(1);
        box-shadow: 5px 5px 5px #888888;
    }
    60% {
        transform: scale(1.02);
        box-shadow: 5px 5px 15px #888888;
    }
    70% {
        transform: scale(1);
        box-shadow: 5px 5px 5px #888888;
    }
    80% {
        transform: scale(1.01);
        box-shadow: 5px 5px 10px #888888;
    }
    100% {
        transform: scale(1);
        box-shadow: 5px 5px 5px #888888;
    } 
}

#cardDeck {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

form {
    height: auto;
    max-width: 500px;
    background-color: rgba(51,51,51,0.8);
    box-shadow: 0 0 30px 5px #00E7FF;
    border-radius: 10px;
    margin: 20px 70px;
    padding: 20px 10px 40px 10px;
}

#header {
    color: #FFF;
    padding: 10px;
}

#info > * {
    margin-bottom: 10px;
}

#inputSection {
    text-align: center;
}

.inputs {
    color: #FFF;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #FFF;
    margin: 30px 0;
    width: 60%;
    padding: 5px 0;
    font-size: 1em
}

.inputs:focus {
    border: none;
    box-shadow: 0 0 10px #000;
    padding-left: 10px;
}

#message {
    resize: none;
    word-break: break-all;
}


/* Footer Styles */
footer {
    width: 100%;
    height: 60px;
    margin-bottom: 3%;
    background-color: #0D0D0D;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

footer > p {
    text-align: center;
    padding: 20px;
    color: white;
}